body{
    background-color: black;
    color: white;
    font-family: 'Voces', cursive;
}

#container{
    text-align:center;
}

canvas{
    border: 1px solid gray;
    display: inline;
}


#canvas{
    width: 800px;
    float:left;
}

#help{
    float: left;
    padding: 10px;
    width: 350px;
}
